{% extends 'core/base.html' %}
{% block title %}Regiones{% endblock %}
{% load static %}
{% block css_extra %}{% endblock %}


{% block content %}
{% if not buscar  %}
 <div class="container mt-3">
    <div class="row">
        <div class="col-12 ">
          <a href="javascript:history.back()" class="text-muted">
                       <i class="bi bi-backspace-fill"></i> Regresar
               </a>
           <table class="table table-hover">
            <thead>
              <tr>

                <th scope="col" class="text-center">Nombre de la Especialidad </th>
              </tr>
            </thead>
            <tbody>
             {% for guardia in object_list  %}
              <tr>
               <td> <a style="color:white;text-decoration:none;" href="{% url 'core:especialidad_detail' guardia.id  %}">{{guardia.name}}</a></td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
 </div>

{% elif object_list|length == 0 %}
<h2 class="text-center mt-2">No hay resultados en la busqueda.</h2>

{% else %}
 <div class="container mt-3">
    <div class="row">
        <div class="col-12 ">
           <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center">Resultado de la busqueda </th>
              </tr>
            </thead>
            <tbody>
             {% for guardia in object_list  %}
              <tr>

               <td> {{guardia.sub_especilidad.name}} &nbsp;<strong>/ &nbsp;<a style="color:white;text-decoration:none;" href="{% url 'core:guardia_detail' guardia.id  %}">{{guardia.name}}</a> </strong></td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
 </div>
{% endif %}
{% endblock %}